@media(max-width: 1440px){
  .form-group a{
    margin-left: 12rem;
  }
}
@media only screen and (max-width: 1024px){
  .wrapper{
    width: 90%;
  }
}
@media only screen and (max-width: 845px){
  header label{
    display: grid;
  }
  .main-menu{
    position: absolute;
    top: -100%;
    background: var(--bg-accent);
    left: 0;
    right: 0;
    z-index: 100;
    padding: 1.5rem 0rem;
    transition: top 300ms;
  }
  #menu-toggle:checked ~ header .main-menu{
    top: 70px;
  }
  header ul{
    display: block;
    width: 90%;
    margin: auto;
  }
  header li{
    margin: 0;
    margin-bottom: .8rem;
  }
  header li:last-child{
    margin-top: 1rem;
  }
  header li.hide-sm{
    display: none;
  }
  .hero img {
    display: grid;
    width: 20rem;
  }
  .footer-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px){
  /* .hero img{
    display: none;
  } */
  .hero h1 {
    margin-top: -8rem;
    margin-bottom: 5rem;
  }
  .hero img {
    position: absolute;
    bottom: 0rem;
    width: 20rem;
    margin: 40% 0 0;
  }
  /* .hero a{
    left: 50%;
    bottom: -1rem;
    text-align: center;
  } */
  .portfolio-wrapper, .services-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  #bg-right {
    bottom: -10px;
    left: -10px;
  }
  .contact-grid{
    grid-template-columns: 100%;
  }
  .contact-img{
    display: none;
  }
  .skills-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
  .skill{
    display: grid;
    justify-content: center;
  }
  .skill p{
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 580px){
  .portfolio-wrapper, .services-grid{
    grid-template-columns: 100%;
  }
  .service{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .hero{
    min-height: 80vh;
    justify-content: center;
    margin: 0 10%;
  }
  .hero h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: -10rem;
  }
  .hero img {
    position: absolute;
    width: 10rem;
    margin: 0 40% 5rem 0;
  }
  .hero a{
    left: 50%;
    bottom: -1rem;
    text-align: center;
  }
}